@font-face {
  font-family: 'Hakgyoansim Byeolbichhaneul';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimByeolbichhaneul/HakgyoansimByeolbichhaneul-L.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimByeolbichhaneul/HakgyoansimByeolbichhaneul-L.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimByeolbichhaneul/HakgyoansimByeolbichhaneul-L.otf') format('opentype'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimByeolbichhaneul/HakgyoansimByeolbichhaneul-L.ttf') format('truetype');
}
@font-face {
  font-family: 'Hakgyoansim Byeolbichhaneul';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimByeolbichhaneul/HakgyoansimByeolbichhaneul-B.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimByeolbichhaneul/HakgyoansimByeolbichhaneul-B.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimByeolbichhaneul/HakgyoansimByeolbichhaneul-B.otf') format('opentype'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimByeolbichhaneul/HakgyoansimByeolbichhaneul-B.ttf') format('truetype');
}